<h1><%= @artist.name %></h1>
<p><%= @artist.age %></p>
<p><%= @artist.bio %></p>
<br>
<a href="/artists/<%= @artist.id %>/edit"><input type="button" value="Edit"></a>
<a href="/artists/<%= @artist.id %>/delete"><input type="button" value="Delete"></a>
<br>
<a href="/artists"><input type="button" value="Home"></a>
